body {
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(../sunrise-sea-morning-with-fishermen-lifestyle.jpg) bottom no-repeat;
    background-size: cover;
}

h1 {
        color: aliceblue;
        font-size: 5rem;
        font-family: 'Times New Roman', Times, serif;
        -webkit-text-stroke: 1px black;
    }

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.coryright {
    color: rgb(108, 117, 125);
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-color: #fff;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128,128,128);
}

article a {
    color: rgb(33,37,41);
    text-decoration: none;
}

article a:hover {
    color: #0085a1;
}


article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.article-meta {
    color: rgb(134, 142, 150);
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.first-news-title::before {
    content: "New";
    color: red;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    border: 1px solid #ff4500;
    padding: 2px 6px;
    margin-right: 10px;
    border-radius: 4px;
    vertical-align: middle;
}

.second-news-title::before {
    content: "New";
    color: red;
    font-weight: bold;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    border: 1px solid #ff4500;
    padding: 2px 6px;
    margin-right: 10px;
    border-radius: 4px;
    vertical-align: middle;
}


.news-item:nth-child(even) {
    background-color: #7fa9db;
    padding: 15px;
    border-radius: 8px;
}

.news-item:nth-child(odd) {
    padding: 15px;
}

